name: specs-workflow

on:
    pull_request:
        branches:
        - '*'
    push:
        branches:
        - master
        - main
    workflow_dispatch:


jobs:
    specs:
        name: specs
        runs-on: [actuated-2cpu-4gb, n100]
        steps:
        - uses: actions/checkout@v5
        - uses: self-actuated/hub-mirror@master
          with:
            mtu: 1460
        - name: Check MTU
          run: |
              docker network ls
              docker network ls -q|xargs docker network inspect|grep -i mtu
              cat /proc/cmdline
        # - name: Run script
        #   run: |
             
        #       sudo journalctl -u actions --no-pager --output=cat
        #       cat /proc/cmdline
        #       echo 
        #       ./specs.sh

