name: specs-workflow

on:
    pull_request:
        branches:
        - '*'
    push:
        branches:
        - master
        - main
    workflow_dispatch:

jobs:
    specs:
        name: specs
        runs-on: [actuated-2cpu-4gb, s9]
        steps:
        - uses: actions/checkout@v5
        # - uses: self-actuated/hub-mirror@master
        #   with:
        #     mtu: 1460
        # - name: Check MTU
        #   run: |
        #       cat /proc/cmdline
        #       ip addr
        #       ip link
        #       docker network ls
        #       docker network ls -q|xargs docker network inspect|grep -i mtu
        - name: Run script
          run: |
              sudo journalctl -u actions -o short-monotonic --no-pager
              # cat /proc/cmdline
              sudo systemd-analyze
              sudo journalctl -o short-monotonic --no-pager -u mount-runner           
              curl https://192.168.128.1:5000 -i
              # echo 
              # ./specs.sh
